/* Universal selectors */
* {
	margin: 0;
	padding: 0;
}

/* Element selectors */
body {
	color: brown;
}

main {
	text-align: center;
}

header {
    position: fixed;
}

nav {
    text-align: right;
}

li {
    display: inline;
}

/* unvisited link */
a:link {
	color: white;
  }
  
  /* visited link */
  a:visited {
	color: white;
  }
  
  /* mouse over link */
  a:hover {
	color: blue;
  }
  
  /* selected link */
  a:active {
	color: yellow;
  }

img {
	height: 200px;
	width: 200px;
	padding: 20px;
}

footer {
	text-align: center;
}

/* Class selectors */
.bg-green {
	background-color: forestgreen;
	color: beige;
}

.button {
	background-color: rgb(57, 28, 28);
	color: white;
	width: 80px;
	margin: 5px;
}

/* ID selectors */
#contact {
	background-color: rgb(247, 222, 222);
}

#form {
	border: 5px solid rgb(219, 167, 167);
	margin-left: 400px;
	margin-right: 400px;
	border-radius: 10px;
}

#website {
	padding: 20px
}